apiVersion: v1
kind: ConfigMap
metadata:
  name: gitlab-postgresql-initdb
  namespace: gitlab
data:
  01_create_mattermost_production.sql: |
    CREATE DATABASE mattermost_production WITH OWNER gitlab;
